button{
  background: transparent;
  font-size: 1.5rem;
  font-weight: 900;
  margin: 0px 2px;
  border: none;
  border-radius: 10px;
  padding:0px  2px;
  cursor: pointer;
}
#increment{
  color: green;
}
.count{
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f0f8ff8a;
  width: 20px;
  border-radius: 35px;
  padding: 2px;
}
#decrement{
  color: red;
}
.count-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
