.product-card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 350px;
  padding-bottom: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit:contain;
}

.product-info {
  padding: 16px;
}

.product-info h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 12px;
  text-overflow: ellipsis;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
  color: green;
}

.buy-btn {
  width: 150px;
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  
}
.buy-btn:disabled{
    background-color: gainsboro;
}
.buy-btn:hover {
  background: #1e40af;
}

button {
  
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
 background-color: #646cff;
 color: #fff;
}
